<p id="notice"><%= notice %></p>

<p>
  <strong>Supplier:</strong>
  <%= @material.supplier %>
</p>

<p>
  <strong>Product:</strong>
  <%= @material.product %>
</p>

<%= link_to 'Edit', edit_material_path(@material) %> |
<%= link_to 'Back', materials_path %>
